@page
@model QuAnsBibel.Pages.HomeModel
@{

}



<div class="text-center">
    <h1 class="my-3">پرسش و پاسخهای کتاب مقدس</h1>
    <hr class="bg-info"/>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/EESA-A.jpg" class="w-max-450 h-max-600" alt="EESA" />
            </div>
            <div class="carousel-item">
                <img src="~/images/EESA-B.jpg" class="w-max-800 h-max-600" alt="EESA" />
            </div>
            <div class="carousel-item">
                <img src="~/images/EESA-C.jpg" class="w-max-1200 h-max-600" alt="EESA" />
            </div>
            <div class="carousel-item">
                <img src="~/images/EESA-D.jpg" class="w-max-1200 h-max-600" alt="EESA" />
            </div>
            <div class="carousel-item">
                <img src="~/images/EESA-E.jpg" class="w-max-600 h-max-600" alt="EESA" />
            </div>
            <div class="carousel-item">
                <img src="~/images/EESA-F.jpg" class="w-max-1200 h-max-600" alt="EESA" />
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 col-sm-9">
        <div class="btn_Top btn_Blue2 mt-3">آخرین پرسشها و پاسخها</div>
        <div class="form-row justify-content-around">
            <div class="w-max-300 m-1">
                <div class="card">
                    <div class="card-body">
                        <h2 class="font-18">
                            در مقدمه کتاب برای مثال یه قسمتش میگه کتاب مقدس در طول 1400 سال نوشته شده
                            و در ادامه و جای دیگه میگه در طی 1600 سال نوشته شده
                            لطفا اگه میشه یه توضیح کوچکی بدین
                        </h2>
                    </div>
                    <div class="card-footer btn_Normal btn_Firuze">
                    </div>
                </div>
            </div>
            <div class="w-max-300 m-1">
                <div class="card">
                    <div class="card-body">
                        <h2 class="font-18">
                            و اینکه درمورد تاریخ نوشتن تورات
                            طبیعتا هرچی عدد قبل میلاد بیشتر میشه یعنی قدیم تر رو نشون میده
                            حالا کتاب های پیدایش و.. در سال 1450 قبل میلاد نوشته شدن و آخرین کتاب یعنی تثنیه که می فرماید یک ماه آخر زندگی موسی رو روایت میکند
                            نوشته در سال 1451 ق. م یعنی یک سال قبل از نوشتن کتاب پیدایش نوشته شده
                            اگر میشه یه توضیحی بدین
                        </h2>
                    </div>
                    <div class="card-footer btn_Normal btn_Firuze">
                    </div>
                </div>
            </div>
            <div class="w-max-300 m-1">
                <div class="card">
                    <div class="card-body">
                        <h2 class="font-18">
                            درود برادر خسته نباشی برکت خدا باشما
                            «هیچ درخت نیکو، میوۀ بد به‌بار نمی‌آوَرَد و هیچ درخت بد، میوۀ نیکو نمی‌دهد.
                            لوقا ۶:۴۳ NMV
                            به بانگ بلند گفت: «تو در میان زنان خجسته‌ای، و خجسته است ثمرۀ رَحِم تو!
                            لوقا ۱:۴۲ NMV
                            درود برادر ادوین خسته نباشی.
                            در آیات بالا یه دوست کاتولیگ درخت رو سمبلی از انسان می دونست و مریم . میوه رو هم سمبلی از مسیح وبا این تفسیرمریم رو پاک می دونن در جواب رومیان باب۳ که میگه همه گناه کردند واز جلال خدا قاصرند جوابش  (مریم +مسیح= انسان  )رو در سمبل آدم ثانی وحوای ثانی میدونن قبل از گناه.
                            وبا این تفاسیر مریم رو بی گناه می دونن یعنی بدون پاک بودن مریم تفسیر رو ناقض میدونن.

                            لطفا پاسخ این سوال رو بدید ممنون برادر ادوین برکت خدا با شما🙏
                        </h2>
                    </div>
                    <div class="card-footer btn_Normal btn_Firuze">
                    </div>
                </div>
            </div>
            <div class="w-max-300 m-1">
                <div class="card">
                    <div class="card-body">
                        <h2 class="font-18">
                            وای بر این جهان بهسبب لغزشها؛ زیرا که لابد است از وقوع لغزشها، لیکن وای بر کسیکه سبب لغزش باشد. پس اگر دستت یا پایت تو رابلغزاند، آن را قطع کرده، از خود دور انداز زیرا تورا بهتر است که لنگ یا شل داخل حیات شوی ازآنکه با دو دست یا دو پا در نار جاودانی افکنده شوی. و اگر چشمت تو را لغزش دهد، آن را قلع کرده، از خود دور انداز زیرا تو را بهتر است بایک چشم وارد حیات شوی، از اینکه با دو چشم در آتش جهنم افکنده شوی.
                            متی ۱۸:۷ - ۹ POV-FAS

                            درود برادر ادوین من آرشیوها رو نگاه. کردم و شما دراین آیات حیات رو همان ملکوت تفسیر کردید .

                            سوال :مخاطب این آیات ایمانداران هستند ؟
                            یا غیر ایمانداران؟
                            چرا نوشته حیات ؟ننوشته ملکوت ؟
                            اگر  منظور ملکوت و مخاطب ایمانداران  هست چرا در این آیات  از آتش جهنم و نار ابدی صحبت کرده مگر جهنم ابدی برای غیر ایمانداران نیست ؟

                            ممنون سپاس از زحمات شما برادر خدا برکتتون بده 🙏
                        </h2>
                    </div>
                    <div class="card-footer btn_Normal btn_Firuze">
                    </div>
                </div>
            </div>
            <div class="w-max-300 m-1">
                <div class="card">
                    <div class="card-body">
                        <h2 class="font-18">
                            درود خواهر بهار و برادر ادوین شکر برای وجودتون : آنگاه خشم خداوند بر ایشان افروخته شد و او آنجا را ترک کرد چون ابر از فراز خیمه برفت اینک مریم از جذام همچون برف سفید شده بود و هارون بسوی مریم نگریست و اینک او جذامی بود اعداد : 12 : 9 تا 10 _ سوال برادر اینکه چرا خداوند از مریم و هارون انقدر خشمگین شده بود اونا فقط یه سوال ساده پرسیدند که آیا به راستی خداوند به واسطه موسی سخن گفته است ؟ مگه آنان شک کرده بودند ؟ اگر مریم به جذام مبتلا شده بود پس چرا هارون جذام نگرفت یا تنبیه نشد؟ چون هارون هم شک کرده بود ، سپاس از پاسختون ..

                        </h2>
                    </div>
                    <div class="card-footer btn_Normal btn_Firuze">
                    </div>
                </div>
            </div>
            <div class="w-max-300 m-1">
                <div class="card">
                    <div class="card-body">
                        <h2 class="font-18">
                            درودبرشمابرادر
                            درکتاب مقدس بارها به قوم من یا به قوم اشاره شده

                            1_آیامنظورش از قوم من همان  بستگان وفامیل نزدیک است؟
                            2_ یا منظورش طایفه خاصی است؟
                            درفارسی به فامیل اقوام نزدیک،به طایفه آدم، و یا یک قبیله غریبه هم قوم می گویند مرسی
                        </h2>
                    </div>
                    <div class="card-footer btn_Normal btn_Firuze">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="btn_Top btn_Blue2 mt-3">اعلانات</div>
        <div class="form-group">
            <div class="card">
                <div class="card-header">
                    <span>12 jul 2020</span>
                </div>
                <div class="card-body">
                    <img src="../images/Elanat_A.jpg" class="card-img" />

                    <hr />
                    <p class="font-18">
                        درود بر عزیزان خداوند
                        خدمات جهانی نخست زادگان به هم خدمت در بخش انتشارات نیازمند است
                        کسانیکه ادبیات فارسی و همچنین آشنا با کتاب مقدس هستند ،لطفا به آیدی خواهر بهار تماس حاصل فرمایند
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
